{:tasks
 {app:format (shell "cljfmt fix")
  app:format:check (shell "cljfmt check")
  app:lint (shell "clj-kondo --lint src:tests:dev:infra:shared")
  app:test (shell "clojure -X:test")

  app:check (do (run 'app:format:check)
                (run 'app:lint)
                (run 'app:test))

  app:docker:build (shell (str "docker build --network host --file infra/docker/Dockerfile"
                            " --tag net.hughpowell/clj-htmx-contacts:dev ."))
  app:docker:run (shell "docker run --publish 3000:3000 net.hughpowell/clj-htmx-contacts:dev")}}
