{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.11.1"}
           buddy/buddy-sign                    {:mvn/version "3.5.351"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           cheshire/cheshire                   {:mvn/version "5.12.0"}
           clj-http/clj-http                   {:mvn/version "3.12.3"}
           clojure.java-time/clojure.java-time {:mvn/version "1.3.0"}
           com.github.seancorfield/honeysql    {:mvn/version "2.4.1045"}
           com.github.seancorfield/next.jdbc   {:mvn/version "1.3.883"}
           com.stuartsierra/component          {:mvn/version "1.1.0"}
           com.zaxxer/HikariCP                 {:mvn/version "5.0.1"}
           dev.weavejester/ragtime             {:mvn/version "0.9.3"}
           hiccup/hiccup                       {:mvn/version "2.0.0-RC1"}
           aero/aero                           {:mvn/version "1.1.6"}
           liberator/liberator                 {:mvn/version "0.15.3"}
           metosin/malli                       {:mvn/version "0.11.0"}
           metosin/reitit-ring                 {:mvn/version "0.7.0-alpha5"}
           org.postgresql/postgresql           {:mvn/version "42.6.0"}
           org.slf4j/slf4j-nop                 {:mvn/version "2.0.7"}
           ring/ring-jetty-adapter             {:mvn/version "1.10.0"}}
 :aliases {:dev   {:extra-paths   ["dev" "shared"]
                   :extra-deps    {potemkin/potemkin               {:mvn/version "0.4.5"}
                                   com.stuartsierra/component.repl {:mvn/version "0.2.0"}
                                   ;; Need this until component.repl updates
                                   org.clojure/tools.namespace     {:mvn/version "1.4.4"}}
                   :override-deps {org.clojure/clojure {:mvn/version "1.12.0-alpha5"}}}
           :test  {:extra-paths ["tests" "shared"]
                   :extra-deps  {com.gfredericks/test.chuck              {:mvn/version "0.2.13"}
                                 clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
                                 enlive/enlive                           {:mvn/version "1.1.6"}
                                 idle/multiset                           {:git/url "https://github.com/win-some/multiset.git"
                                                                          :sha     "80deac7a58ebc27a3f1d0c171e7442c3270b16a6"}
                                 lambdaisland/kaocha                     {:mvn/version "1.85.1342"}
                                 org.testcontainers/postgresql           {:mvn/version "1.17.6"}}
                   :exec-fn     kaocha.runner/exec-fn
                   :exec-args   {}}
           :build {:paths      ["infra"]
                   :deps       {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
                   :ns-default build}}}
