#kaocha/v1 {:tests    [{:id          :specification
                        :test-paths  ["tests"]
                        :ns-patterns ["-spec$"]}
                       {:id          :oracle
                        :test-paths  ["tests"]
                        :ns-patterns ["-oracle$"]} ]
            :reporter [kaocha.report/documentation]}
