{:linters {:line-length {:max-line-length 120}
           :unresolved-var {:exclude [hiccup.form hiccup.element contacts.lib.html]}
           :unresolved-symbol {:exclude [(hiccup.def/defelem [search-field value])
                                         (com.gfredericks.test.chuck.clojure-test/checking)]}}}
