{:database {:dbtype   "postgresql"
            :dbname   #env POSTGRES_DB
            :user     #env POSTGRES_USER
            :password #env POSTGRES_PASSWORD
            :host     #env POSTGRES_HOST
            :port     #long #env POSTGRES_PORT}}
