{:database {:dbtype   "postgresql"
            :dbname   "clj-htmx-contacts"
            :user     "hugh@hughpowell.net"
            :password #or [#env CONTACTS_DATABASE_PASSWORD]
            :host     "ep-delicate-mud-a1ysg1v4.ap-southeast-1.aws.neon.tech"
            :port     5432}
 :auth     {:client-id     "6DVu7HeJe6JCyTSMJBp4LCRHmsqlnLfy"
            :client-secret #or [#env CONTACTS_AUTH_CLIENT_SECRET #vault CONTACTS_AUTH_CLIENT_SECRET]
            :login-uri     "https://clj-htmx-contacts.au.auth0.com/authorize"
            :authorise-uri "https://clj-htmx-contacts.au.auth0.com/oauth/token"
            :logout-uri    "https://clj-htmx-contacts.au.auth0.com/oidc/logout"
            :redirect-uri  "http://localhost:3000/"}}
